@page "/about"

<h1>About</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Decrement</button>

@functions
{
  private int currentCount = 100;

  public void IncrementCount()
  {
    currentCount--;
  }
}
