@page "/browse"
@using GraphML
@using GraphML.API.Server
@inject IRepositoryManagerServer _repoMgrServer
@inject IOrganisationServer _orgServer

<h1>Repository Managers</h1>

@if (_repoMgrs == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>Organisation</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var repoMgr in _repoMgrs)
      {
        <tr>
          <td>@GetOrganisation(repoMgr.OwnerId).Name</td>
          <td> @repoMgr.Name </td>
        </tr>
      }
    </tbody>
  </table>
}

@functions
{
  IEnumerable<RepositoryManager> _repoMgrs;

  protected override async Task OnInitAsync()
  {
    _repoMgrs = await _repoMgrServer.GetAll();
  }

  private Organisation GetOrganisation(string orgId)
  {
    var orgs = Task.Run<IEnumerable<Organisation>>(async () => await _orgServer.ByIds(new[] { orgId }));
    return orgs.Result.Single();
  }
}
