@page "/BrowseEdges/{GraphName}/{GraphId}"
@inherits BrowseGraphItem

@using GraphML.API.Server
@using System.Web;

@inject IEdgeServer _edgeServer
@inject NavigationManager UriHelper

<h1>Edges</h1>
<h2>@HttpUtility.UrlDecode(GraphName)</h2>
<h3>TODO BrowseEdges</h3>
<button @onclick="((e) => BrowseGraph())">Back</button>

@functions
{
}
