@page "/BrowseNodes/{GraphName}/{GraphId}"
@inherits BrowseGraphItem

@using GraphML.API.Server
@using System.Web;

@inject INodeServer _nodeServer

<h1>Nodes</h1>
<h2>@HttpUtility.UrlDecode(GraphName)</h2>
<h3>TODO BrowseNodes</h3>
<button onclick="@((e) => BrowseGraph())">Back</button>

@functions
{
}
