@page "/BrowseEdges/{GraphName}/{GraphId}"

@using GraphML
@using GraphML.API.Server
@using System.Web;

@inject IEdgeServer _edgeServer
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

<h1>Edges</h1>
<h2>@HttpUtility.UrlDecode(GraphName)</h2>
<h3>TODO BrowseEdges</h3>
<button onclick="@((e) => BrowseGraph(@GraphName, @GraphId))">Back</button>

@functions
{
  [Parameter]
  private string GraphName { get; set; }

  [Parameter]
  private string GraphId { get; set; }

  private void BrowseGraph(string graphName, string graphId)
  {
    UriHelper.NavigateTo($"/BrowseGraph/{graphName}/{graphId}");
  }
}
