@page "/browse"
@using GraphML
@using GraphML.API.Server
@inject IRepositoryManagerServer _repoMgrServer
@inject IOrganisationServer _orgServer

<h1>Repository Managers</h1>

@if (_orgs == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <ul class="list-group">
    @foreach (var org in _orgs)
    {
      <li class="list-group-item">
        <span>@org.Name</span>
      </li>
    }
  </ul>
}

@functions
{
  IEnumerable<Organisation> _orgs;

  protected override async Task OnInitAsync()
  {
    _orgs = await _orgServer.GetAll();
  }

  private Organisation GetOrganisation(string orgId)
  {
    var orgs = Task.Run<IEnumerable<Organisation>>(async () => await _orgServer.ByIds(new[] { orgId }));
    return orgs.Result.Single();
  }
}
