@page "/Browse"

@using GraphML
@using GraphML.API.Server

@inject IOrganisationServer _orgServer
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

<h1>Organisations</h1>

@if (_orgs == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <ul class="list-group">
    @foreach (var org in _orgs)
    {
      <li class="list-group-item">
        <span onclick="@((e) => BrowseOrganisation(@org))">@org.Name</span>
      </li>
    }
  </ul>
}

@functions
{
  private IEnumerable<Organisation> _orgs;

  protected override async Task OnInitAsync()
  {
    _orgs = await _orgServer.GetAll();
  }

  private void BrowseOrganisation(Organisation org)
  {
    UriHelper.NavigateTo($"/BrowseOrganisation/{org.Name}/{org.Id}");
  }
}
