@page "/BrowseRoles"

@using GraphML
@using GraphML.Common
@using Microsoft.Extensions.Configuration
@using Flurl
@using GraphML.API.Controllers

@inject IConfiguration _config
@inject NavigationManager _navMgr

<h1>Roles</h1>

<MatTable
  Items="@_roles"
  ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(Role), nameof(RoleController.GetAll))"
  PageParamName="pageIndex"
  PageSizeParamName="pageSize"
  Striped="true"
  AllowSelection="true"
  class="mat-elevation-z5">
  <MatTableHeader>
    <th>Name</th>
  </MatTableHeader>
  <MatTableRow>
    <td>@context.Name</td>
  </MatTableRow>
</MatTable>

@functions
{
  private Role[] _roles;
}
