@page "/identityapp"

@attribute [Authorize]

@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using GraphML.UI.Web.Widgets

@inject IHttpContextAccessor _httpContextAccessor

@attribute            [Authorize]

<b>User Claims from APP</b>
<p/>

<p>These are the user claims that were presented to the Application</p>

<SpinLoader IsLoading="@(userClaimsJson == null)">
  <LoadingTemplate>
    <GraphMLSpinner/>
  </LoadingTemplate>
  <ContentTemplate>

    <pre> @userClaimsJson </pre>

  </ContentTemplate>
</SpinLoader>

@code {
  private string userClaimsJson = string.Empty;

  protected override Task OnInitializedAsync()
  {
    var claimsList = _httpContextAccessor.HttpContext.User.Claims;
    var rawList = (from c in claimsList select new { c.Type, c.Value });
    userClaimsJson = JsonConvert.SerializeObject(rawList, Formatting.Indented);

    return Task.CompletedTask;
  }

}
