@using GraphML.UI.Web.Widgets

<b>Find Duplicates</b>
<p/>

<SpinLoader IsLoading="@(_data == null)">
  <LoadingTemplate>
    <GraphMLSpinner/>
  </LoadingTemplate>
  <ContentTemplate>

    <MatTableEx
      Items="_data"
      FilterByColumnName="@nameof(FindDuplicatesViewModel.Matches)"
      Striped="true"
      class="mat-elevation-z5">
      <MatTableHeader>
        <th>Matches</th>
      </MatTableHeader>
      <MatTableRow>
        <td>@context.Matches</td>
      </MatTableRow>
    </MatTableEx>

  </ContentTemplate>
</SpinLoader>
