@using GraphML.UI.Web.Widgets

<b>Find Duplicates</b>
<p/>

<SpinLoader IsLoading="@(_data == null)">
  <LoadingTemplate>
    <GraphMLSpinner/>
  </LoadingTemplate>
  <ContentTemplate>

    <MatTableEx
      Items="_data"
      FilterByColumnName="Matches"
      Striped="true"
      class="mat-elevation-z5">
      <MatTableHeader>
        <th>Matches</th>
      </MatTableHeader>
      <MatTableRow>
        <td>@string.Join('|', context.Select(gn => gn.Name))</td>
      </MatTableRow>
    </MatTableEx>

  </ContentTemplate>
</SpinLoader>
