@using GraphML.UI.Web.Models

<div class="graphml-node @(Node.Selected ? " graphml-selected" : "")">
  @{
    if (!string.IsNullOrWhiteSpace(Node.IconName))
    {
      <img src="@Node.IconName" width="32px" height="32px" alt="@Node.IconName"/>
    }
  }
  @Node.Name
</div>

@code {

  [Parameter]
  public DiagramNode Node { get; set; }

}
