@using System.IO

<div>
  <MatTable
    Items="@_icons"
    FilterByColumnName="Name"
    Striped="true"
    AllowSelection="true"
    class="mat-elevation-z5">
    <MatTableHeader>
      <th>Icon</th>
      <th>Path</th>
    </MatTableHeader>
    <MatTableRow>
      <td>
        <img src="@context" alt="@context" width="32px" height="32px"/>
      </td>
      <td>@context</td>
    </MatTableRow>
  </MatTable>
</div>

@code
{
  private static readonly List<string> ImageExtensions = new() { ".JPG", ".JPE", ".BMP", ".GIF", ".PNG" };

  private string[] _icons;

  protected override async Task OnInitializedAsync()
  {
    var iconDir = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "icons");
    _icons = Directory
      .GetFiles(iconDir, "*", SearchOption.AllDirectories)
      .Where(fileName => ImageExtensions.Contains(Path.GetExtension(fileName).ToUpperInvariant()))
      .Select(fileName => Path.GetRelativePath("wwwroot", fileName))
      .ToArray();
  }
}
